{% extends 'app1/base.html' %}

{% load static %}

{% block blk_titulo %} Proyecto final | Login {% endblock blk_titulo %}

{% block blk_cont %}
<h1 style="text-align: center;">Coloca tus datos para ingresar</h1><br>
<div class="d-flex justify-content-center">

    <div class="d-flex flex-column">

        <p class="fs-5 fw-bold">{{ msg_login }}</p>
        
        <form action="" method="POST">
            {% csrf_token %}
            <table>
            {{ form.as_p }}
            </table>
            <input type="submit" class="btn btn-success btn-sm" value="Iniciar sesión">
         </form>
    </div>
</div>

{% endblock blk_cont %}