{% extends "app1/base.html" %}

{% block blk_titulo %} Proyecto final | Cursos {% endblock blk_titulo %}

{% block blk_cont %}
<h1>Listado de Cursos</h1>

{% if cursos %}
    <table class="table table-bordered">
        <tbody>
            {% for curso in cursos %}
            <tr>
                <td>
                    <span class="h6">Nombre:</span> {{ curso.nombre }} | 
                    <span class="h6">Comision:</span> {{ curso.comision }}<br></br>
                    <a href="#" class="btn btn-success btn-sm">Ver</a>
                    <a href="{% url 'actualizarcurso' curso.pk %}" class="btn btn-success btn-sm">Editar</a>
                    <a href="{% url 'borrarcurso' curso.pk %}" class="btn btn-danger btn-sm">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No hay cursos cargados</p>
    <a href="{% url 'crearcurso' %}" class="btn btn-success btn-sm">Cargar Curso</a>
{% endif %}
{% endblock blk_cont %}
