{% extends "app1/base.html" %}

{% block blk_titulo %} Proyecto final | Inicio {% endblock blk_titulo %}

{% block blk_cont %}
<div class="text-center">
    <div class="mb-1">
        <a href="https://github.com/robertoconradogomez/entrega-final-gomez" class="btn btn-lg btn-info m-1" target="_blanc">GitHub</a>
        <a href="https://docs.google.com/spreadsheets/d/1kTzGbeh-t3XOxBP_mfaXiATn_1jTpcxvSmwiRC60v8Q/edit?usp=sharing" class="btn btn-lg btn-info m-1" target="_blanc" >Casos de Prueba</a>
    </div>
</div>
{% endblock blk_cont %}
